[Unit]
Description=Auto Openvas report send per email

[Service]
ExecStart=$scriptpath$/openvas/master.sh
Restart=always
User=root
RestartSec=3
LimitNOFILE=infinity

[Install]
WantedBy=default.target
