[Unit]
Description=Auto Openvas report send per email

[Service]
EnvironmentFile=/root/scripts/envar.conf
ExecStart=/bin/bash /root/scripts/master.sh
Restart=always
User=root
RestartSec=360
LimitNOFILE=infinity

[Install]
WantedBy=default.target
