[Unit]
Description=SSH Tunnel by Adam

[Service]
ExecStart=/home/scripts/ssh/2tunScript.sh
Restart=always
User=root
RestartSec=3
LimitNOFILE=infinity

[Install]
WantedBy=default.target
