[Unit]
Description=SSH Tunnel by Adam

[Service]
ExecStart=/root/scripts/ssh/usedby_openVasgui_tunnel.sh
Restart=always
User=root
RestartSec=3
LimitNOFILE=infinity

[Install]
WantedBy=default.target
