[Unit]
Description=Master_mind behind Openvas report extraction and sending it per email

[Service]
ExecStart=$scriptspath$/master.sh
Restart=always
User=root
RestartSec=60
LimitNOFILE=infinity

[Install]
WantedBy=default.target
