[Unit]
Description=SSH Tunnel By Me

[Service]
EnvironmentFile=/root/scripts/envar.conf
ExecStart=/root/scripts/ssh/usedby_ssh_tunnel.sh
Restart=always
User=root
RestartSec=3
LimitNOFILE=infinity

[Install]
WantedBy=default.target
