[Unit]
Description=SSH Tunnel By Me

[Service]
ExecStart=/home/kali/adamMADEtunnel/tunScript.sh
Restart=always
User=root
RestartSec=3
LimitNOFILE=infinity

[Install]
WantedBy=default.target
